@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
.toggle{
    position: fixed;
    top:30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background:#000 url(menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
}
.toggle.active{
    background:#000 url(close.png);                                                                   
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
/*section{
    padding: 100px;
    min-height:100vh;
}*/
.container{
    background:linear-gradient(45deg,#ff7043,#ffccbc);
    position: relative;
    width: 1519px;
    height: 752px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.container .card{
    position: relative;
    width: 1400px;
    height: 590px;
    background:#fff;
    margin:20px;
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 0 15px 25px rgba(0,0,0.2);
}

.banner{
    padding:100px;
    min-height: 100vh;
    position:relative;
    width:100%;
    min-height: 100vh;
}
.banner .imgSidebar{
    position: absolute;
    top:0;
    left:0;
    width: 500px;
    height:100%;
}
.banner .imgSidebar img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}
.banner .contentBx{
    position: absolute;
    top:0;
    right:0;
    left:30em;
    width: calc(100%-500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px;
}
.sidebar{
    position: absolute;
    top:0;
    right:0;
    width: calc(100%-500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px;
}
.logoText{
    position:absolute;
    top:40px;
    left: 100px;
    font-size:1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color:#fff;
    padding:0 5px;
}
.banner .contentBx h4{
    font-size: 1.5em;
    color:#333;
    font-weight: 300;
}
.banner .contentBx h4 span{
    color: #ff5722;
    font-size: 1.5em;
    font-weight:700;
}
.banner .contentBx h2{
    font-size: 3em;
    color:#333;
    line-height: 1em;
}
p{
    font-size:1.1em;
    margin:20px 0;
    font-weight: 300;
}
.btn{
    background:#ff5722;
    border-radius: 5px;
    color:#fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight:500;
    letter-spacing: 2px;
}
.sidebar{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.5s;
    padding:40px;
    z-index:100;
    right: -100%;
}
.sidebar.active{
   right:0;
   background: #fbe9e7;
   width:20%;
   border-radius:10px;
}
.sidebar ul{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li{
    list-style: none;
}
.sidebar ul li a{
    color:#ff7043;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sidebar ul li a:hover{
color:#00bcd4;
}
.title{
    width: 100%;
    text-align: center;
}
.title h2{
    position: relative;
    color:#ff7043;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}
.title p{
    max-width: 700px;
    display: inline-block;
}
.title h2::before{
    content: '';
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:-10px;
    width: 60px;
    height: 4px;
    background: #000;
}
.about{
    background: #000;
    height:99vh;
}
.title.white p{
    color:#fff;
}
.title.white h2::before{
    background:#fff ;
}
.about .content{
    display:flex;
    justify-content: space-between;
    margin-top: 40px;
}
.about .content .textbx{
min-width:49%;
width:30%;
}
.about .content .textBx p{
    color:#fff;
    margin-right:100px;
    margin-left:50px;
    margin-top:100px;
}
.about .content .imgBx{
    margin-left:300px;
    margin-bottom:250px;
}
.about .content .imgBx img{
    max-width:300%;
    margin-left:-300px;
    border-radius: 30px;
}
.container2{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#A9A9A9,#C0C0C0);
    background-attachment: fixed;
}
.container3{
    position: relative;
    width:1150px;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items:center;
    box-shadow: 0 15px 25px rgba(0,0,0.2);
    border-radius: 5px;
}
.container3 .card2{
    position:relative;
    width:300px;
    height:420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow:hidden;
    box-shadow:0 15px 25px rgba(0,0,0,0.2);
    transition:0.5s;
}
.container3 .card2 img{
    width:340px;
    object-fit: cover;
}
.container3:hover .card2{
    filter:blur(20px);
    transform:scale(0.9);
    opacity:0.5;
}
.container3 .card2:hover{
    filter:blur(0px);
    transform: scale(1.1);
    opacity: 1;
}
.form-container{
    padding:100px 0px;
    background-color: #161616;
    
}
.btn1{
    /* font-family: 'Montserrat', sans-serif;
     background-color: #fa788d;
     border: none;
     color: black;
     font-weight: bold;*/
     margin-top: 1em;
     padding: 1rem 5rem;
     font-size: 1rem;
     background-color: #ff5722;
     color: black;
     font-weight: bold;
     border: none;
     border-radius: 0.5rem;
     
 }
 .grid-container3{
     display: flex;
     justify-content: center;
 }
.contact-form{
    background-color: #232d2f;
    border-radius: 18px;
    padding: 2em;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    width: 350px;
}
.form-text h2{
    margin: 1rem o;
    padding:0;
    font-size: 18pt;
    font-weight: 500;
    color: white;
}
.form-input{
    border-radius: 10px;
    border: none;
    background-color: #161616;
    color: white;
    text-align:left;
    width: 90%;
    padding: 1em;
    margin-bottom:1rem;
    font-family: Montserrat;
    font-size: 1 rem;
}
.form-input::placeholder{
    color:white;
}
.form-input:focus{
    background-color: white;
    color:black;
    outline:none;
}
.btn1:hover {
    background-color: #54dcf2;
    border: none;
  }
.btn1:focus{
    border:none;
    background-color: #54dcf2;
    outline:none;
}
/*Footer*/
footer{
    background-color: #232d2f;
    position: absolute;
    width: 100%;
    height:250px;
    margin-top:0rem;
    left:0px;
}
 .footer{
    margin:2rem 1rem 1rem 1rem;
    text-align: center;
}
.icon{
    display:inline-block;
    padding:2rem 5rem;
}
.footer-text h3{
    color:#fa788d;
    opacity: 1;
    text-align:center;
    margin:1rem;
    font-size:18px;
}
.fab{
    color:white;
    opacity: 0.75;
}

.fab:hover{
    transform: translate(0,-5px);
    color:#fa788d;
}
@media (min-width: 2000px) 
  and (max-width: 2500px) {
      .toggle{
          width:80px;
          height:80px;
      }
      .container{
         height:1640;
         width:100%;
      }
      .container .card{
          height:1400px;
          width:1900px;
      }
      .logoText{
          font-size: 2.5em;
      }
      .banner .imgSidebar{
          width:800px;
      }
      .banner .contentBx{
          left:50em;
      }
      .banner .contentBx h4{
          font-size:3.5em;
      }
      .banner .contentBx h2{
          font-size:5em;
      }
      p{
          font-size:2em;
      }
  }
